.stat {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 6px;
}

.stat-block {
    padding: 15px;
    background-color: rgba(71, 66, 61, 0.35);
    border: 1px solid rgb(177, 250, 99);
    border-radius: 20px;
    display: flex;
}

.stat-block-counter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat-block-counter__value {
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: 'Calleo-Trial';
}

.stat-block_gap {
    gap: 15px;
}

.stat-block-bot-status {
    display: flex;
    justify-content: space-evenly;
}

.stat-block-bot-status__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFFB2;
    text-align: center;
}

.stat-block-bot-status__item img {
    width: 15px;
    height: 15px;
}

.stat-block-counter__img {
    width: 24px;
    height: 24px;
    vertical-align: text-bottom;
    margin-left: 4px;
}

.stat-block-title {
    height: fit-content;
    font-size: 18px;
    font-weight: 500;
    color: white;
    font-family: 'Calleo-Trial';
    text-wrap: balance;
}

.stat-block-ram {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.stat-block-ram::before {
    border-radius: 20px;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background:
        radial-gradient(circle at top left, #B1FA63E5 -5%, transparent 30%),
        radial-gradient(circle at center left, #FE77332F -5%, transparent 50%),
        radial-gradient(circle at top center, #9881FFE5 -5%, transparent 40%);
}

.stat-block-ram__gradient {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2px;
    left: -2px;
}

.stat-block-ram__view {
    width: 100%;
    height: 100%;
    align-self: center;
}

.stat-block-ram__value {
    align-self: center;
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: 'Calleo-Trial';
    z-index: 2;
    text-align: center;
    position: relative;
    animation: 5s alternate 0s 1 appear;
}

.stat-block-ram__value::before {
    content: '0%';
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFFE5;
}

.stat-block-ram__value::after {
    content: '100%';
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFFE5;
}

.stat-block-ram__arrow {
    width: 92px;
    height: 18px;
    position: absolute;
    animation: 5s alternate 0s 1 appear;
    transform-origin: right;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (min-width: 419px) {
    .stat-block-ram__value {
        position: relative;
    }

    .stat-block-ram__value::after {
        top: -8px;
        right: -16px;
    }

    .stat-block-ram__value::before {
        top: -8px;
        left: -4px;
    }

    .stat-block-ram__arrow {
        left: calc(50% - 92px);
        top: calc(-18px);
    }
}

@media screen and (max-width: 418px) {
    .stat-block-ram__value {
        position: absolute;
        bottom: 20px;
    }

    .stat-block-ram__value::after {
        top: -30px;
        right: -4px;
    }

    .stat-block-ram__value::before {
        top: -30px;
        left: -0px;
    }

    .stat-block-ram__arrow {
        left: calc(50% - 92px);
        top: calc(-25px);
    }
}

@media screen and (max-width: 360px) {
    .stat-block-ram__value {
        position: absolute;
        bottom: 20px;
    }

    .stat-block-ram__value::after {
        top: -40px;
        right: -8px;
    }

    .stat-block-ram__value::before {
        top: -40px;
        left: -4px;
    }

    .stat-block-ram__arrow {
        top: calc(-40px);
    }
}