.navbar {
    width: 100%;
    padding-bottom: 6px;
    padding-top: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 35px;
}

.navbar::after {
    width: calc(100% - 4px);
    content: '';
    border: 1px solid #444444;
    border-radius: 2px;
    position: absolute;
    bottom: -4px;
    left: auto;
    right: auto;
}

.button {
    cursor: pointer;
    /* проверить шрифт */
    font-family: 'Calleo-Trial', sans-serif; 
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    color: #FFFFFF;
    -webkit-tap-highlight-color: transparent;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.button-wrapper_active::after {
    width: calc(100% - 4px);
    content: '';
    border: 2px solid transparent;
    border-radius: 2px;
    position: absolute;
    bottom: -11px;
    left: 0;
    z-index: 1;
    animation: 0.5s ease-out 0s 1 appear;
    background: linear-gradient(270deg, #B1FA63 -0.02%, #FE7733 49.4%, #9881FF 103%) border-box;
}

@keyframes appear {
    0% {
      opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}